<div class="custom-container">
<h3>Edit recipe</h3>
<div>
  <% if @recipe.errors.any? %>
    <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
</div>
<%= form_for [:admin, @recipe], method: :patch,
  html: {class: "row"} do |recipe| %>
  <div class="flex-for-div">
    <%= recipe.label :name, class:"middle-text" %>
    <%= recipe.text_area :name %>
  </div>
  <div class="group flex-for-div ">
    <%= recipe.label :img_url, class:"middle-text" %>
    <%= recipe.text_area :img_url%>
  </div>
  <div class="group flex-for-div ">
    <%= recipe.label :ingredient_details, class:"middle-text" %>
    <%= recipe.text_area :ingredient_details, class:"textarea-size"%>
  </div>
  <div class="group flex-for-div ">
    <%= recipe.label :description, class:"middle-text" %>
    <%= recipe.text_area :description, class:"textarea-size" %>
  </div>
  <div class="group flex-for-div">
    <%= collection_select(:ingredient, :ingredient_id, @ingredients_ordered, :id, :name,
      {selected: @recipe.ingredients.map(&:id)} ,{:multiple => true, class:"js-selectpicker"}) %>
  </div>
  <div class="group margin">
    <button type="submit"
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
    >Edit</button>
  </div>
<% end %>

<%= link_to 'Back', admin_recipes_path %>
</div>
