<h1>Edit recipe</h1>
<div>
  <% if @recipe.errors.any? %>
    <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
</div>
<%= form_for [:admin, @recipe], method: :patch,
  html: {class: "row"} do |recipe| %>
  <div class="group  flex-for-div" class="col-md-12">
    <%= recipe.label :name %>
    <%= recipe.text_area :name %>
  </div>
  <div class="group flex-for-div" class="col-md-12">
    <%= recipe.label :ingredient_details %>
    <%= recipe.text_area :ingredient_details %>
  </div>
  <div class="group flex-for-div" class="col-md-12">
    <%= recipe.label :description %>
    <%= recipe.text_area :description %>
  </div>
  <div class="group flex-for-div" class="col-md-12">
    <%= recipe.label :img_url %>
    <%= recipe.text_area :img_url%>
  </div>
  <div class="row">
    <%= collection_select(:ingredient, :ingredient_id, @ingredients_ordered, :id, :name,
      {selected: @recipe.ingredients.map(&:id)} ,{:multiple => true, class:"js-selectpicker"}) %>
  </div>
  <div class="group">
    <%= recipe.submit %>
  </div>
<% end %>

<%= link_to 'Back', admin_recipes_path %>
