<h1 class="container__recipe--name">Edit ingredient</h1>
<div>
  <% if @ingredient.errors.any? %>
    <ul>
      <% @ingredient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= form_for [:admin, @ingredient], method: :patch do |i| %>
  <div class="group">
    <%= i.label :name %>
    <%= i.text_field :name %>
  </div>

  <div class="group">
    <%= i.submit %>
  </div>
<% end %>

<%= link_to 'Back', admin_ingredients_path %>
