<h1> New ingredient</h1>
<div>
  <% if @ingredient.errors.any? %>
    <ul>
      <% @ingredient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= form_for [:admin, @ingredient] do |i| %>
  <div class="group">
    <%= i.label :name %><br>
    <%= i.text_field :name %>
  </div>

  <div class="group">
    <%= i.submit %>
  </div>
<% end %>

<p><%= link_to 'Back', admin_ingredients_path %></p>
